<header>
    <nav class="navbar">
        <button class="menu-toggle">&#9776;</button> <!-- Icône du menu burger -->
        <ul class="nav-links">
            <li><a href="<%= homePageUrl %>">Accueil</a></li>
            <li><a href="<%= aboutPageUrl %>">À propos</a></li>
            <li><a href="<%= preachingsPageUrl %>">Prédications</a></li>
            <li><a href="<%= bibleVersesPageUrl %>">Versets Bibliques</a></li>
            <li><a href="<%= contactPageUrl %>">Contact</a></li>
            <li><a href="<%= loginPageUrl %>">Connexion</a></li>
            <li><a href="<%= signupPageUrl %>">Inscription</a></li>
        </ul>
    </nav>
</header>

